<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../script/script.js"></script>
    <link rel="stylesheet" href="../css/mainrequests.css">
    <title>Document</title>
    </head>
    
   
    <div class="header2"><div class="logo"></div></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li>Administrator1 <span>Admin</span></li>
       
        <li> <img src="../img/Logout-White.png" width="30" height="30"><a href="#">Logout</a></li>
      
      </ul>
    </div>
    
<body>
    
       
    
                <div class="relative1">
                    <div class="requestlogo">
                        <p class="p2">Pending Requests</p>
                        <img src="../img/Form-Grey.png" width="30" height="30">
                    </div>
            </div>
                    <div class="white-box">
                        <p class="p1">Student ID</p>
                        <br>
                        <p class="p1">Request Type</p>
                        <br>
                        <p class="p1">Description Of Request</p>
                    <div class="relative2">
                        <a href="#" class="button2">Attached Document</a>
                    </div>
                    </div>

                        <div class="relative3">

                            <a href="#" class="button3">Approve</a>
                            <div class="relative4">
                            <a href="#" class="button">Reject</a>
                            <div class="relative5">
                                <a href="#" class="button4">Reject</a> 
                            </div>
                            </div>
                         </div>
                    
                
           
        
       
    
</body>

</html>