<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../script/script.js"></script>
    <link rel="stylesheet" href="../css/style2.css">
    <title>Document</title>
</head>
<body>

    <div id="requestcompleted">
        <div class="relative10">
            <p class="p3"> THANK YOU </p>
            <div class="relative11">
            <p class="p4">Your request have been sent. <br> Any Updates will be sent to your email</p>
              <div class="relative12">
                <a href="index.html" class="button">Back To Main</a>
              </div>
            </div>
        </div>
    </div>
   
</body>
</html>