<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../script/script.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@600;700&display=swap" rel="stylesheet">
    <title>Request Completed</title>
</head>
<body>
    <div id="request-complete-container" class="flex-container">
      <div id="request-complete" class="left-content">
        <!--Background logo inserted through css-->
      </div>
      <div class="right-content">
        <div>
          <h1 id="request-complete-title" class="landing-title">THANK YOU !</h1>
          <h2 class="landing-sub-title">Your request has been sent any updates will be sent to your email</h2>
        </div>
        <div class="request-complete-buttons">
          <a href="/">
            <div class="back-to-main">
              Back to main
            </div>
          </a>
        </div>
      </div>
</body>
</html>