.backround {
              background-image: url("https://drive.google.com/uc?export=view&id=17umgBGM1lX6iTrKjKxGASOrCCbH37d0R");
              background-size: auto;
              width: 50%;
              height: 100%;
              background-size: cover;
                  }
             div.relative {
             position: relative;
             left: 135%;
             top: 10%;
            }
            div.relative1 {
             position: relative;
             left: 50px;
             top: -50px;
             }
            div.relative2 {
             position: relative;
             left: -100px;
             top: 600px;
            }
            div.relative3 {
             position: relative;
             top: 25px;
            }
            .container {
             position: relative;
            }
            .p1 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size:50px;
            color:#f03030;
            }
            .p2 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size:30px;
            color:black;
            }
            .button {
            background-color: #d13434;
            border: none;
            color: white;
            padding: 15px 40px;
            width: 500px;
            text-align: center;
            text-decoration: none;
            white-space: normal;
            display: inline-block;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size:20px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            transition-duration: 0.4s;
            }       
            .button:hover {
            background-color: #29ac29; /* Green */
            color:#FFFFFF;
            }